/* --- General --- */
body {
  background-color: lightgray;
  margin: auto;
}

html {
  border-style: solid;
  border-width: 2px;
  border-color: #5f5b5b;
}

/* --- Header --- */
header {
  background-color: #5f5b5b;
  padding: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

/* ---- Image Icon ---- */
.picture-me {
  border-style: solid;
  border-color: #7c7979;
  border-radius: 50%;
}

/* ---- Nav --- */
nav {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  color: rgb(255, 255, 255);
  margin-right: auto;
  padding: 15px;
  padding-left: 10px;
  overflow: auto;
  background-color: #333333;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: #e7ebf1;
  text-transform: uppercase;
  text-align: center;
  padding: 4px;
}

/* --- Links --- */
a:link {
  color: #e7ebf1;
}

a:visited {
  color: #9f7e5d;
}

a:hover {
  color: green;
}

a:active {
  color: rgb(255, 153, 0);
  text-decoration: underline;
}

/* --- Content --- */
.resume-section {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 39px;
  margin-right: 39px;
}

.section-heading {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.section-content {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}

/* --- Contact --- */
footer {
  color: white;
  background-color: #333333;
}
