/* --- General --- */
body {
  background-color: lightgray;
  margin: auto;
}

html {
  border-style: solid;
  border-width: 2px;
  border-color: #5f5b5b;
}

/* --- Header --- */
header {
  background-color: #5f5b5b;
  padding: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

/* --- Hero Image --- */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/CSS/hero-image.jpg");
  background-color:#5f5b5b ;
  background-repeat: no-repeat;
  background-position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* ---- Nav --- */
nav {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: medium;
  color: rgb(255, 255, 255);
  margin-right: auto;
  padding: 15px;
  padding-left: 10px;
  overflow: hidden;
  background-color: #333333;
  margin-top: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: #e7ebf1;
  text-transform: uppercase;
  text-align: center;
  padding: 4px;
}

nav li.cont {
  float: right;
}

/* --- Links --- */
a:link {
  color: #e7ebf1;
}

a:visited {
  color: #9f7e5d;
}

a:hover {
  color: green;
}

a:active {
  color: rgb(255, 153, 0);
  text-decoration: underline;
}

/* --- Content --- */
.resume-section {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 39px;
  margin-right: 39px;
  margin-top: 100px;
}

.section-heading {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.section-content {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}

/* --- Contact --- */
footer {
  color: white;
  background-color: #333333;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
}